DATABASE_URL="postgresql://postgres.auqigciynbyivnyavghg:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.auqigciynbyivnyavghg:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL="https://auqigciynbyivnyavghg.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[ANON_KEY]"
